$primary:  #071013;
$background: #FFAEBC;
$backgroundform: #310A31;
$white: #fff;
$backgroundbuttons: #FF3366;
$backgroundnavbar: #202C39;
$black: #0F110C;

@mixin phones {
    @media only screen and (max-width: 600px){
        @content;
    }
}
@mixin small {
    @media only screen and (min-width: 600px) {
      @content;
    }
  }
  
  @mixin medium {
    @media only screen and (min-width: 1024px) {
      @content;
    }
  }
  
  @mixin large {
    @media only screen and (min-width: 1440px) {
      @content;
    }
}